body{
  background-color:#FFFFE4;
}

#sky{
  position:relative;
  left:500px;
}
<head>
<style>
.myDiv {
  border: 5px outset red;
  background-color: white;    
  text-align: center;
}
</style>
</head>
<body>



<div class="myDiv">
  <h2>As a student studying New Media & Digital Design and Marketing at Fordham University, I’m currently exploring the intersection of art and technology in my creative coding class. In this class I will constantly add to my public-facing portfolio site to showcase all of my work, combining my love for photography with my growing coding skills. I can't wait to grow onto this page throughout the duration of my class!

</h2>
  <p>Thank you <3</p>


</body>
</html>
